<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .reg-button {
            padding: 0px 10px;
            background-color: blue;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div>
        <h3>LANGVISION – Shaping the Future of Gen AI & LLMs!</h3>
        <p>
            Hello Tech Enthusiasts! 🌟
            <br>
            Are you excited to dive into the world of Generative AI and Large Language Models?
            Join us for LANGVISION, a two-day Hands-on-Workshop where you'll gain cutting-edge insights into the latest
            AI advancements,
            industry trends, and real-world applications through hands-on learning.
        </p>
        <p>⚡ <strong>Why Attend?</strong></p>

        <p>✅ Master the fundamentals of LLMs & Gen AI</p>
        <p>✅ Build your own LLM models with practical experience</p>
        <p>✅ Exclusive Q&A with our expert speaker</p>

        <br>

        <strong>💻 Laptops are mandatory. </strong>

        <br> <br>

        <strong>📅 Event Details</strong>

        <br><br>

        <strong>Event Details:</strong>
        <ul>
            <li>
                🗓 <strong>Dates</strong>:
                <h3 style="color: rgb(13, 13, 144)"> 14th & 15th February 2025</h3>
            </li>
            <li style="margin: 5px 0">
                ⏰ <strong>Timings</strong>: 10:00AM to 4:40PM
            </li>
            <li>
                🎤 <strong>Speaker</strong>: Pranali Bose, Machine Learning Engineer, DBS Bank
            </li>

            <li style="margin-top: 5px">
                💸 <strong>Registration Fee</strong>: ₹75 per person
            </li>
        </ul>

        <p>For more details, contact:</p>
        <p>📞 Bhanu Satish : <strong>7569722210</strong></p>
        <p>📞 Srihastha : <strong>9491931595 </strong></p>

        <p>Don’t miss out—be part of the AI revolution! 🚀</p>

        <a href="https://forms.gle/imgsks2miQkZWHvu5" target="_blank" class="reg-button">
            <p style="color: white;">Click here to register</p>
        </a>
    </div>
</body>

</html>